external/
.venv/
.tui/
scripts/download-data/
scripts/download-data/*

*.swp
*.py[cod]
**/__pycache__/**
**/.ipynb_checkpoints/**
.mypy_cache/
.pytest_cache/
.ruff_cache/
.idea/*
llava/
_vis_cached/
_vqgan/
_vae/
_vae*/
ckpt/
log/
tb*/
img*/
local_output*
_auto_*
sd-vae-ft-mse/
stable-diffusion-v1-4/
*.pth
*.pth.tar
*.ckpt
*.log
*.txt
!requirements-check.txt
*.ipynb
toscli
*.hydra
wandb
*.jsonl
*.jpg
*.png
*.json
!scripts/download-data/dsine-eval-tos-bundle/config/sources.json
!scripts/download-data/dsine-eval-tos-bundle/config/tos.json
*.csv
*.tar.gz
*.bin
data/
tmp
output
outputs/
*.tsv
*.mp4
output/*
results/
*.JPEG
debug/
weights
checkpoints
ref.py
prompt.md
wandb
.DS_Store
